<!-- welcome section and profile picture-->
<section class="header-section">

    <div class="container">

        <div class="row">

            <div class="col-12 col-sm-12 col-md-6 ">
                <div class="d-flex justify-content-center">
                    <span class="profile-picture">
                        <img [src]="profilePicture"
                            alt="profile picture" class="w-100 h-100 rounded-circle">
                    </span>
                </div>

            </div>

            <div class="col-12 col-sm-12 col-md-6">
                <div class="text-center h-100 d-flex flex-column justify-content-center">
                    <h1>Hi, I'm Daud Khan</h1>
                    <p class="fs-4">It is good to have you here</p>
                </div>
            </div>

        </div>

    </div>

</section>