<section class="blog-section p-3 pt-5 p-md-5">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-12">
                <a routerLink={{blogLink}}>
                <div class="d-flex mx-lg-5 justify-content-center mb-3">
                    <img [src]="blogPicture" alt="blog" class="w-100 h-100 rounded">
                </div></a>
            </div>

            <div class="col-md-8 col-12 text-center text-md-start">
                <a routerLink={{blogLink}}>
                <time>1 Mar 2022</time>
                <h1 class="fs-3">3 reasons why choose mongodb</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex ducimus dolore error illum.</p></a>
            </div>

            <hr class="my-4">

            <div class="col-md-4 col-12">
                <a routerLink={{blogLink}}>
                <div class="d-flex mx-lg-5 justify-content-center">
                    <img [src]="blogPicture" alt="blog" class="w-100 h-100 rounded">
                </div></a>
            </div>

            <div class="col-md-8 col-12 text-center text-md-start">
                <a routerLink={{blogLink}}>
                <time>1 Mar 2022</time>
                <h1 class="fs-3">3 reasons why choose mongodb</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex ducimus dolore error illum.</p></a>
            </div>


            <div class="col-12">
                <div class="text-end">
                    <a routerLink="/blogs" class="text-decoration-underline">Read more posts</a>
                </div>
            </div>
        </div>
    </div>
</section>