<!-- description section-->
<section class="description-section">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div>

                    <div class="m-5 p-0 p-sm-1 p-md-1 p-lg-5 p-xl-5 p-xxl-5 text-center">
                        <h1>Here I write stuff related to computer, anime, movies and what's happening in my
                            life?</h1>
                    </div>

                    <div class="text-end">
                        <a class="fs-4" routerLink="/about">More about me</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>