<footer>
    <!-- place footer here -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mt-lg-3">
                    <h1 class="fs-1">Get in touch with me on other platforms</h1>
                </div>


            </div>
            <div class="col-12">
                <div class="d-flex flex-md-row flex-sm-column">
                    <div>
                        <ul>
                            <li><a href="#linkedin"><img [src]="linkedinPNG" alt="linkedin"></a>
                            </li>
                            <li><a href="#youtube"><img [src]="youtubePNG" alt="youtube"></a>
                            </li>
                            <li><a href="#twitter"><img [src]="twitterPNG" alt="twitter"></a>
                            </li>
                            <li><a href="#github"><img [src]="githubPNG" alt="github"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>