<div class="container blogs">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column p-lg-5">


                <a routerLink={{blogLink}}>
                    <div class="blog-card p-3 p-md-3  border-bottom">
                        <div class="d-flex flex-column flex-md-row">
                            <div>
                                <div class="d-flex mx-md-5 justify-content-center mb-3">
                                    <img [src]="blogPicture" alt="blog"
                                        class="blog-picture">
                                </div>
                            </div>
                            <div>
                                <div class="text-center text-md-start">
                                    <time>1 Mar 2022</time>
                                    <h1 class="fs-3">3 reasons why choose mongodb</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex ducimus
                                        dolore error illum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a routerLink={{blogLink}}>
                    <div class="blog-card pt-5 p-3 p-md-3  border-bottom">
                        <div class="d-flex flex-column flex-md-row">
                            <div>
                                <div class="d-flex mx-md-5 justify-content-center mb-3">
                                    <img [src]="blogPicture" alt="blog"
                                        class="blog-picture">
                                </div>
                            </div>
                            <div>
                                <div class="text-center text-md-start">
                                    <time>1 Mar 2022</time>
                                    <h1 class="fs-3">3 reasons why choose mongodb</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex ducimus
                                        dolore error illum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a routerLink={{blogLink}}>
                    <div class="blog-card pt-5 p-3 p-md-3  border-bottom">
                        <div class="d-flex flex-column flex-md-row">
                            <div>
                                <div class="d-flex mx-md-5 justify-content-center mb-3">
                                    <img [src]="blogPicture" alt="blog"
                                        class="blog-picture">
                                </div>
                            </div>
                            <div>
                                <div class="text-center text-md-start">
                                    <time>1 Mar 2022</time>
                                    <h1 class="fs-3">3 reasons why choose mongodb</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex ducimus
                                        dolore error illum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a routerLink={{blogLink}}>
                    <div class="blog-card pt-5 p-3 p-md-3  border-bottom">
                        <div class="d-flex flex-column flex-md-row">
                            <div>
                                <div class="d-flex mx-md-5 justify-content-center mb-3">
                                    <img [src]="blogPicture" alt="blog"
                                        class="blog-picture">
                                </div>
                            </div>
                            <div>
                                <div class="text-center text-md-start">
                                    <time>1 Mar 2022</time>
                                    <h1 class="fs-3">3 reasons why choose mongodb</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex ducimus
                                        dolore error illum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>