<section class="subscription-section" id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="text-center">
                    <h1>Would you like to recieve emails of my posts every friday, if yes then consider
                        subsribing</h1>
                </div>

                <div class="input-group my-5 mx-auto d-flex flex-sm-column flex-md-row">
                    <input type="email" id="subscribe-email-field" class="form-control"
                        placeholder="name@domain.com">
                    <button id="subscribe-button" class="btn btn-dark" type="button">Subscribe</button>
                </div>

            </div>
        </div>
    </div>
</section>